<mat-card>
    <mat-card-content>
        <form [formGroup]="userRegistrationForm" >
            <h2>Register account</h2>
            <mat-error>
                {{result}}
            </mat-error>
            <mat-form-field>
                <input matInput
                       formControlName="username"
                       [errorStateMatcher]="matcher"
                       placeholder="Player Nick Name"
                       name="username"
                       [(ngModel)]="username"
                       required>
                <mat-error>
                    {{errors.username}}
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput
                       formControlName="email"
                       [errorStateMatcher]="matcher"
                       placeholder="Player Email" name="email"
                       [(ngModel)]="email"
                       required>
                <mat-error>
                    {{errors.email}}
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput
                       formControlName="password"
                       [errorStateMatcher]="matcher"
                       type="password"
                       placeholder="Password"
                       name="password"
                       [(ngModel)]="password"
                       required>
                <mat-error>
                    {{errors.password}}
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput
                       formControlName="confirmPassword"
                       [errorStateMatcher]="matcher"
                       type="password"
                       placeholder="Confirm Password"
                       name="confirmPassword"
                       [(ngModel)]="confirmPassword" required>
                <mat-error>
                    {{errors.confirmPassword}}
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="userRegistrationForm.invalid" (click)="onSubmit()">Register</button>
        </form>
    </mat-card-content>
    <mat-divider></mat-divider>
    <h4>{{userRegistrationForm.errors}}</h4>
</mat-card>
